doctype html
meta(charset='UTF-8')
title Page Title
meta(name='viewport' content='width=device-width,initial-scale=1')
link(rel='stylesheet' href='')
style.
script(src='')
img(src='img_la.jpg' alt='LA' style='width:100%')
div
  h1 #{text}
  p This is a paragraph.
  p This is another paragraph.
