doctype html
meta(charset='UTF-8')
title New User
meta(name='viewport' content='width=device-width,initial-scale=1')
link(rel='stylesheet' href='')
style.
script(src='')

body
div
    form(action='/users' method='POST')
        | First Name
        input(type='text' name='firstName')
        button(type='submit') Submit
